<h1>Active Tickets</h1>

<table style="border-spacing: 1em 1em">
	<tr>
		<th>Source Address</th>
		<th>Transaction Hash</th>
		<th>Amount</th>
	</tr>

<% @tickets.each do |ticket| %>
	<tr>
		<td><%= ticket.source_address %></td>
		<td><%= ticket.transaction_hash %></td>
		<td><%= ticket.amount %></td>
	<tr>
<% end %>

</table>
